<h1>Editor de Tarefa</h1>

<%= render "form", tarefa: @tarefa %>

<br>

<div>
  <%= link_to "Detalhes da tarefa", @tarefa, class: 'btn btn-primary' %> |
  <%= link_to "Retornar ao Inicio", tarefas_path, class: 'btn btn-primary' %>
</div>
