/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
}

.calendar {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background-color: #333;
  color: white;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.month li {
  font-size: 20px;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  padding: 10px;
  margin: 0;
}

.weekdays li {
  width: calc(100% / 7);
  text-align: center;
  color: #666;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  padding: 10px;
  background-color: #eee;
  margin: 0;
}

.week {
  display: flex;
  flex-direction: column;
  gap: -10;
}

.day {
  background-color: #fff;
  padding: 5px;
  text-align: center;
  margin-bottom: 5px;
}

.empty-day {
  background-color: #eee;
  padding: 0px;
  text-align: center;
  margin-bottom: 0px;
}

.day-link {
  text-decoration: none;
  color: black;
}

.day-link:hover {
  color: blue;
}

.tarefas-quadro {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.tarefas h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.tarefas {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tarefas p {
  margin: 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.tarefas p:last-child {
  border-bottom: none;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  margin-bottom: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}
.logoInterna {
  margin-right: auto; /* Empurra a logo para a esquerda */
  margin-left: 20px; /* Margem à esquerda para separar da borda */
}
.logoInterna img {
  width: 75px;
  height: 50px;
}
.sair {
  margin-left: auto; /* Empurra o botão "Sair" para a direita */
  margin-right: 20px; /* Margem à direita para separar da borda */
}
